/* Reset básico */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Distribuye encabezado, contenido y pie de página */
    grid-template-columns: auto 1fr auto; /* Distribuye los asides y el contenido principal */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    padding: 20px;
    background-color: #004D98; /* Azul oscuro del FC Barcelona */
    color: white;
    text-align: center;
    grid-column: 1 / 4; /* Ocupa todo el ancho */
}

/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #A50044; /* Granate del FC Barcelona */
    padding: 10px; /* Ajustar el padding para hacer que el nav se vea más compacto */
    grid-column: 1 / 4; /* Ocupa todo el ancho */
}

nav a {
    color: white;
    padding: 10px 15px; /* Reducir el padding de los enlaces para hacerlos más pequeños */
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #FFCC00; /* Amarillo del FC Barcelona */
    color: #004D98; /* Cambia el texto a azul oscuro al pasar el ratón */
}

/* Layout Santo Grial */
.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px; /* Columnas fijas para los asides y contenido en el medio */
    grid-gap: 0;
    width: 100%;
    height: 100%; /* Ocupa el 100% de la altura */
}

/* Estilos para los asides (barras laterales) */
.sidebar-left, .sidebar-right {
    background-color: #A50044; /* Granate del FC Barcelona */
    color: white;
    padding: 20px;
    height: 100%; /* Ocupar toda la altura del contenedor */
}

.sidebar-left ul, .sidebar-right ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-left ul li, .sidebar-right ul li {
    padding: 8px 0;
}

.sidebar-left ul li a, .sidebar-right ul li a {
    color: white;
    text-decoration: none;
}

.sidebar-left ul li a:hover, .sidebar-right ul li a:hover {
    text-decoration: underline;
}

/* Estilo para el contenido principal */
.content {
    background-color: #FFF;
    padding: 20px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Palabras clave */
.keyword {
    font-size: 1.3em;
    color: blue;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #004D98; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 20px;
    grid-column: 1 / 4; /* Ocupa todo el ancho */
}
